<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Obrigado por se cadastrar!</h1>
    <p>
      Olá {{ x }}, em breve alguém da nossa equipe entrara em contato no telefone {{ y }}!
    </p>

    {% if z %}
    <p>
        Você autorizou o contato por whatsapp!
    </p>
    {% endif %}
  </body>
</html>
